### Predict tomorrows stock price based on previous 60 days Open High Low Close Volume details.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../../datasets/Google_Stock_Price_Train.csv')
df

            Date    Open    High     Low   Close      Volume
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800
...          ...     ...     ...     ...     ...         ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 6 columns]

In [4]:
useful = df.iloc[:,1:]

In [8]:
useful.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   object
 4   Volume  1258 non-null   object
dtypes: float64(3), object(2)
memory usage: 49.3+ KB

In [10]:
useful = useful.replace({',': ''}, regex=True)
useful = useful.astype(float)

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_scale = scaler.fit_transform(useful)
X_scale.shape

(1258, 5)

In [14]:
len(X_scale)

1258

In [16]:
X_train = []
y_train = []


for i in range(len(X_scale) - 60):
    row = X_scale[i:60 + i, :]   
    y = X_scale[60 + i, 0]       
    X_train.append(row)
    y_train.append(y)

X_train = np.array(X_train)
y_train = np.array(y_train)

X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], X_train.shape[2])


X_train.shape, y_train.shape

((1198, 60, 5), (1198,))

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

In [22]:
model = Sequential()
model.add(LSTM(30,return_sequences=True,input_shape=(60, 5)))
model.add(LSTM(30,return_sequences=False))
model.add(Dense(1))
model.compile(loss='mean_squared_error')
model.fit(X_train,y_train,epochs = 20, batch_size = 32)

C:\Users\Jay Sunil Sonawane\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\rnn\rnn.py:199: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 3s 21ms/step - loss: 0.0116
Epoch 2/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - loss: 0.0027
Epoch 3/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - loss: 0.0026
Epoch 4/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 20ms/step - loss: 0.0024
Epoch 5/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 23ms/step - loss: 0.0019
Epoch 6/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - loss: 0.0018
Epoch 7/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0020
Epoch 8/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - loss: 0.0017
Epoch 9/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0017
Epoch 10/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0014
Epoch 11/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0014
Epoch 12/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0015
Epoch 13/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - loss: 0.0013
Epoch 14/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0015
Epoch 15/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - loss: 0.0013
Epoch 16/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step - loss: 0.0013
Epoch 17/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 20ms/step - loss: 0.0011
Epoch 18/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0012
Epoch 19/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0012
Epoch 20/20
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step - loss: 0.0011

# Make Predictions

In [23]:
df_test = pd.read_csv('../../datasets/Google_Stock_Price_Test.csv')
df_test

         Date    Open    High     Low   Close     Volume
0    1/3/2017  778.81  789.63  775.80  786.14  1,657,300
1    1/4/2017  788.36  791.34  783.16  786.90  1,073,000
2    1/5/2017  786.08  794.48  785.02  794.02  1,335,200
3    1/6/2017  795.26  807.90  792.20  806.15  1,640,200
4    1/9/2017  806.40  809.97  802.83  806.65  1,272,400
5   1/10/2017  807.86  809.13  803.51  804.79  1,176,800
6   1/11/2017  805.00  808.15  801.37  807.91  1,065,900
7   1/12/2017  807.14  807.39  799.17  806.36  1,353,100
8   1/13/2017  807.48  811.22  806.69  807.88  1,099,200
9   1/17/2017  807.08  807.14  800.37  804.61  1,362,100
10  1/18/2017  805.81  806.21  800.99  806.07  1,294,400
11  1/19/2017  805.12  809.48  801.80  802.17    919,300
12  1/20/2017  806.91  806.91  801.69  805.02  1,670,000
13  1/23/2017  807.25  820.87  803.74  819.31  1,963,600
14  1/24/2017  822.30  825.90  817.82  823.87  1,474,000
15  1/25/2017  829.62  835.77  825.06  835.67  1,494,500
16  1/26/2017  837.81  838.00  827.01  832.15  2,973,900
17  1/27/2017  834.71  841.95  820.44  823.31  2,965,800
18  1/30/2017  814.66  815.84  799.80  802.32  3,246,600
19  1/31/2017  796.86  801.25  790.52  796.79  2,160,600

In [24]:
df_test = df_test.iloc[:,1:]

In [27]:
df_test = df_test.replace({',': ''}, regex=True)
df_test = df_test.astype(float)

In [28]:
X_test_scaled = scaler.transform(df_test)
X_test_scaled.shape

(20, 5)

In [30]:
temp = np.vstack([X_scale[-60:],X_test_scaled])
temp.shape

(80, 5)

In [33]:
X_test = []
for i in range(20):
    row = temp[i:60+i,0]
    X_test.append(row)
X_test = np.array(X_test)
X_test = X_test.reshape(20,60,1)
X_test.shape


X_test = []

for i in range(20):
    row = temp[i:60+i,:]          
    X_test.append(row)

X_test = np.array(X_test)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], X_test.shape[2])
X_test.shape

(20, 60, 5)

In [37]:
ypp = model.predict(X_test)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step

In [41]:
ypp.shape

(20, 1)

In [42]:
ypp_full = np.zeros((ypp.shape[0], X_scale.shape[1]))   # shape (20, 5)
ypp_full[:, 0] = ypp[:, 0]                              # place predictions in 'Open' column

In [43]:
ypp_inversed = scaler.inverse_transform(ypp_full)

In [19]:
yp

array([[804.0732 ],
       [802.50775],
       [801.349  ],
       [800.3649 ],
       [800.1716 ],
       [801.2234 ],
       [803.0832 ],
       [805.1399 ],
       [807.32074],
       [809.4494 ],
       [811.37274],
       [812.9513 ],
       [814.1582 ],
       [815.1638 ],
       [815.9935 ],
       [817.636  ],
       [820.14575],
       [823.55927],
       [827.10596],
       [829.2078 ]], dtype=float32)

In [44]:
ypp_inversed = ypp_inversed[:, 0]

In [45]:
print("Predicted Open Prices:")
print(ypp_inversed)

Predicted Open Prices:
[818.27442787 817.11684799 816.85238097 816.97240683 818.35914446
 820.77907853 823.23970476 825.36889813 827.04778627 828.84458555
 829.92783014 830.70078898 831.38646794 831.71950285 832.71059732
 834.94853809 838.11900225 841.21775849 843.90388979 843.76508786]

In [46]:
# plt.plot(df_test['Open'],c='red',label='Actual')
# plt.plot(yp,c='blue',label='Predicted')
# plt.legend()